
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Notification Fragment</title>
</head>
<body>
<div th:fragment="notificationModal" xmlns:th="http://www.thymeleaf.org"> <!-- 👈 Đảm bảo namespace ở đây -->
  <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group" id="notification-list">
            <li class="list-group-item text-muted text-center" id="no-notifications">No notifications</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" onclick="markAllAsRead()">Mark All As Read</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
